<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
    <link rel="stylesheet" type="text/css" href="semantic.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-app="redditApp" ng-controller="myCtrl">

	<div class="ui fixed menu">
		<div class="centered menu">
			<a class="item" ng-click="selectMulti('All')" ng-style="checkMulti('All')">All</a>
			<a class="item" ng-repeat="multi in multis" ng-click="selectMulti(multi.name)" ng-style="checkMulti(multi.name)">{{multi.name}}</a>
			
		</div>
		<a class="right item" id="editMultiBtn" ng-click="editMultis()"><i class="cog icon"></i></a>
	</div>

    <div class="ui center aligned container">
        
        <h2 class="ui heading">Reddit Streamer</h2>
        <div class="threadCount">New threads: {{newItems()}}</div>
        
        <div class="ui grid">
        
            <div class="left aligned fourteen wide column">
                
                <div class="ui dropdown button" ng-class="searchDisabled()">
                  <input type="hidden" name="filters">
                  <span class="text"><i class="search icon"></i>Search Subs</span>
                  <div class="menu">
                    <div class="ui icon search input">
                        <i class="search icon"></i>
                      <input type="text" placeholder="Search subs..." ng-model="searchText" ng-change="searchSubs()">
                    </div>
                    <div class="divider"></div>
                    <div class="header">
                      Subreddit
                    </div>
                    <div class="scrolling menu">
                      <div class="item" ng-repeat="result in searchResults" data-value="{{result}}">
                        {{result}}
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="ui label" ng-repeat="sub in subArray">{{sub}}<i class="delete icon" ng-click="removeSub(sub)"></i></div>
            </div>
            
            <div class=" right aligned two wide column">
                <div class="ui checkbox" id="muteBtn">
                    <input type="checkbox" ng-model="mute">
                    <label>Mute?</label>
                </div>
            </div>
        
        </div>
        
       
        
        <div class="threadContainer ui left aligned segment" ng-repeat="thread in currentThreads" style="border-color: {{thread.colour}}" ng-click="removeColour(thread)">
            <h4>
                <a href="{{thread.url}}" target="_blank">
                    <span class="sub">{{thread.sub}}</span> - {{thread.title}}
                </a>
            </h4>
            <p class="sub">{{thread.domain}} - {{thread.author}}</p>
            <p>{{thread.description}}</p>
            <a  target="_blank" class="sub pointer" ng-click="showComments(thread)">{{thread.numberComments}} Comments</a> - 
            <a href="http://www.reddit.com{{thread.comments}}" target="_blank" class="sub">Open on Reddit</a>
        </div>
        
        
        <div class="ui longer special modal" id="commentModal">
          <div class="header" id="title">Header</div>
          <div class="scrolling content" id="comments">
              
          </div>
          <div class="actions">
            <div class="ui black deny button">
              Close
            </div>
          </div>
        </div>
		
		<div class="ui longer special mini modal" id="multiModal">
          <div class="header" id="title">Groups</div>
          <div class="scrolling content" id="multis">
			  <div class="ui segments">
				  <div class="ui segment" ng-repeat="multi in multis">
				  	<div class="ui input">
						<input type="text" ng-value="multi.name" ng-blur="editMultiName(multi, $event)"/>
					</div>
					<div class="ui right floated button" ng-click="deleteMulti(multi)"><i class="delete icon" style="margin: 0px;!important"></i></div>
				  </div>
			  </div>
			  <div class="ui blue button" ng-click="addMulti()">Add New</div>
          </div>
          <div class="actions">
            <div class="ui black deny button">
              Close
            </div>
          </div>
        </div>
        
    </div>
    
 	
    <script src="jquery.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="semantic.min.js"></script>
    <script src="howler/howler.min.js"></script>
    <script src="code.js"></script>
    
</body>

</html>

