body {
    padding: 20px;
}

.threadContainer{
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
}

.sub {
    color: darkgray;
}

.threadCount {
    color: darkgray;
    margin: 0px;
}

h2 {
    margin-bottom: 0px;
}

h4 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

a {
    color: black;
    text-decoration: none;
}

#muteBtn {
    float: right;
    margin-top:15px;
}

.ui.label {
    margin: 5px;
}

.closed {
    height: 30px;
    overflow: hidden;
}

#comment.closed {
    padding: 5px;
    padding-left: 14px;
}

#threadBody {
    font-weight: normal;
    font-size: 1em;
    margin-bottom:15px;
    padding-bottom:10px;
}

#threadBody a {
    color: blue;
    font-weight: bold;
}

#threadBody.centered {
    text-align: center;
}

.ui.dimmer .ui.loader::after  {
    border-color: #767676 transparent transparent;
}

.ui.dimmer .ui.loader::before {
    border-color: rgba(0,0,0,.1);
}

.pointer {
    cursor: pointer;
}

.OP {
    color: blue;
}

body {
    padding-top: 60px;
}

.ui.menu .centered.menu {
    margin: auto;
    border-left: 1px solid rgba(34,36,38,.1);
}

.multiBtn {
    cursor: pointer;
}

.highlighted {
    color: blue;
}

.ui.segment {
    overflow: hidden;
}

#editMultiBtn {
    position: absolute;
    right: 0px;
}

#markReadBtn {
    position: absolute;
    left: 0px;
}

#switchSortBtn {
    position: absolute;
    left: 54px;
}